@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Abril Fatface', 'cursive';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    -webkit-user-drag: none;
}
#write{
        font-family: 'Yellowtail', cursive;
}
footer{
    position: fixed;
    left: -120px;
    bottom: 120px;
    transform: rotate(90deg);
    display:none!important;
}
#index {
    max-height: 100vh;
    overflow-y: scroll;
    /* border: 1px solid gray; */
    scroll-snap-type: mandatory;
    /* scroll-snap-points-y: repeat(5rem); */
    scroll-snap-type: y mandatory;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    display: block;
}

*::-webkit-scrollbar-track {
    background: #fb923c;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0px;
    border: none;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f3f;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #4d4c4c;
}


::-webkit-scrollbar-corner {
    display: none;
}
*::selection {
    background-color: #ffd859;
    /* color: #fff; */
}
img::selection{
    background-color: rgba(165, 165, 165, 0.507);
}
*:focus-visible {
    outline: solid 2px #000000;
    /* border: #ce9dff 3px solid; */
    border-radius: 2px;
    /* padding: 1px; */
}