@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Abril Fatface', 'cursive';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    -webkit-user-drag: none;
}

#index {
    max-height: 100vh;
    overflow-y: scroll;
    /* border: 1px solid gray; */
    scroll-snap-type: mandatory;
    /* scroll-snap-points-y: repeat(5rem); */
    scroll-snap-type: y mandatory;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 7px;
    display: block;
}

*::-webkit-scrollbar-track {
    background: #fb923c;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
    border: none;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #666666;
}